.modal{
  font-family: 'Poppins', sans-serif;
  display: block;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, .2);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.instructionBtn {
  background-color: orange;
  padding: 12px;
  color: black;
}

.instructionBtn:hover, .instructionBtn:focus {
  outline: none;
  background-color: white;
}

.closeBtn:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}